<!doctype html>
<html>
    <head>
        <meta charset='utf8'>
        <link rel="shortcut icon" href="static/images/car.png">
        <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
        <title>Dream team :)</title>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <h1>Super Nice Graph</h1>
            <p>Subtitle</p>
        </header>
        <section class="body">
            <div class="graph-container">
                <iframe src="https://google.com" width=600 height=400></iframe>
            </div>
            <div class="button-container">
                <div class="street-buttons">
                    <button class="street-1-button">
                        Dorchester Road
                    </button>
                    <button class="street-2-button">
                        Totten Street
                    </button>
                    <button class="street-3-button">
                        Malden Road
                    </button>
                </div>
                <div class="direction-buttons">
                    <button class="north-button">
                        North
                    </button>
                    <button class="east-button">
                        East
                    </button>
                    <button class="south-button">
                        South
                    </button>
                    <button class="west-button">
                        East
                    </button>
                </div>
                <div class="vehicle-buttons">
                  <button class="general-traffic-button">
                    General Traffic
                  </button>
                  <button class="single-unit-trucks-button">
                    Single-Unit Trucks
                  </button>
                  <button class="articulated-trucks-button">
                    Articulated Trucks
                  </button>
                  <button class="buses-button">
                    Buses
                  </button>
                  <button class="work-vans-button">
                    Work Vans
                  </button>
                  <button class="bicycles-button">
                    Bicycles
                  </button>
                  <button class="pedestrians">
                    Pedestrians
                  </button>
                </div>
            </div>
        </section>
    </body>
</html>
