<!doctype html>
<html>
    <head>
        <meta charset='utf8'>
        <link rel="shortcut icon" href="static/images/car.png">
        <title>Dylan is so hot</title>
    </head>

    <body>
        <header>
            <h1>Super Nice Graph</h1>
            <p>Subtitle</p>
        </header>
        <section class="body">
            <div class="graph-container">
                <iframe src="https://google.com" width=600 height=400></iframe>
            </div>
            <div class="button-container">
                <div class="street-buttons">
                    <button class="street-1-button">
                        Dorchester
                    </button>
                    <button class="street-1-button">
                        Malden
                    </button>
                    <button class="street-1-button">
                        Totten
                    </button>
                </div>
                <div class="direction-buttons">
                    <button class="north-button">
                        North
                    </button>
                    <button class="east-button">
                        East
                    </button>
                    <button class="south-button">
                        South
                    </button>
                    <button class="west-button">
                        East
                    </button>
                </div>
            </div>
        </section>
    </body>
</html>

