html {
  background-color: #ae6a9a;
}

header {
  border: solid black 1px;
  background-color: white;
  margin: auto;
  padding: -10px;
  text-align: center;
}

.body {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.graph-container {
  flex: 2;
  justify-content: center;
  text-align: center;
}

iframe {
  display: inline-block;
}

.button-container {
  flex: 1;
}

.street-buttons {
  padding: 20px;
  display:flex;
  flex-direction: column;
}

.direction-buttons {
  padding: 20px;
  display:flex;
  flex-direction: column;
}

.vehicle-buttons {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
