html {
  background-color: #ae6a9a;
}

header {
  border: solid black 1px;
  background-color: white;
  margin: auto;
  padding: -10px;
  text-align: center;
}

.body {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.street-buttons {
  padding: 20px;
  display:flex;
  flex-direction: column;
}

.direction-buttons {
  padding: 20px;
  display:flex;
  flex-direction: column;
}

.vehicle-buttons {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
