html {
  background-color: #554562;
  font-family: "Comic Sans MS";
}

header {
  border: solid black 1px;
  background-color: white;
  margin: auto;
  padding: -10px;
  text-align: center;
}

.body {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.graph-container {
  flex: 2;
  justify-content: center;
  text-align: center;
}

iframe {
  display: inline-block;
}

.button-container {
  flex: 1;
}

.street-buttons {
  padding: 20px;
  display:flex;
  flex-direction: column;
}

.direction-buttons {
  padding: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vehicle-buttons {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.north-button, .south-button, .east-button, .west-button {
  overflow: hidden;
  position: relative;
  width: 50px;
  height: 50px;
  transform: rotate(-45deg);
}

.compass-text {
  transform: rotate(45deg);
}

.middle-row {
  width: 125px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.street-1-button-selected {
  color: red;
}

.street-2-button-selected {
  color: red;
}

.street-3-button-selected {
  color: red;
}

.north-button-selected {
  color: blue;
}

.east-button-selected {
  color: blue;
}

.south-button-selected {
  color: blue;
}

.west-button-selected {
  color: blue;
}

.general-traffic-button-selected {
  color: blue;
}

.single-unit-trucks-button-selected {
  color: blue;
}

.articulated-trucks-button-selected {
  color: blue;
}

.buses-button-selected {
  color: blue;
}


.work-vans-button-selected {
  color: blue;
}

.bicycles-button-selected {
  color: blue;
}

.pedestrians-button-selected {
  color: blue;
}
